@font-face {
    font-family: 'etelka_light_proregular';
    src: url('/static/tipos/etelka-light-pro_16165-webfont.woff2') format('woff2'),
         url('/static/tipos/etelka-light-pro_16165-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(/static/tipos/MaterialIcons-Regular.woff2) format('woff2'),
        url(/static/tipos/MaterialIcons-Regular.ttf) format('truetype');
}


@page {
  size: A4;
  margin:0;
}

@media print {
  div.bloque {
    break-inside: avoid;
  }

  .nome_proxecto{
    -webkit-print-color-adjust: exact;
  }

  .rotulo{
    -webkit-print-color-adjust: exact;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  /* -moz-osx-font-smoothing: grayscale; */

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  /* counter-reset: page; */
  font: normal normal normal 90% Arial, Verdana, sans-serif;
  word-spacing: normal;
}
div.saltopagina {
  page-break-before:always;
}


/* page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
}

page[size="A4"] {
  width: 21cm;
  height: 297mm;
} */
.encabezado {
  /* padding: 10px 0 0 0; */
  height: 2cm;
  width: 100%;
}
#logoCZ {
  height: 70px;
  margin-top: -5px;
}
#logos {
  height: 50px;
}

#logoXunta {
  width: 150px;
}
#logoAT {
  width: 150px;
}

.nome_proxecto {
  font-size: 14px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  background-color: rgb(67,	112,	150);
  text-align: center;
  font-weight: bold;
  padding: 10px;
  color: white;
}
.nome_proxecto > div {
  max-width:680px;
  margin: auto;
}

.hueco {
  height: 0.1cm
}

.cabecera {
  width: 210mm;
  /* position: fixed; */
  top: 2cm;
  margin: 1cm 1cm auto 1cm;
}
.pie_pagina {
  position: absolute;
  bottom: 1.0cm;
  right: 1.6cm;
}
.pagina, .pagina2, .pagina3 {
  width: 210mm;
  /* height: 297mm; */
  position: relative;
  padding: 0cm 1cm 0cm 1cm;
  /* top: 4cm; */
}

/* .pagina2 {
  top: 4.2cm;
}

@-moz-document url-prefix() {
  .pagina2 {
    left: -0.2cm;
  }
} */

.columna {
  line-height: 15px;
}

.columna.centrada {
  text-align: center;
}

.columna.valor_centrado {
  line-height: 20px;
  font-weight: bold;
}

.etiqueta {
  font-size: 75%;
  font-weight: bold;
  margin: 0 0 5px 0;
  vertical-align: top;
}

.etiqueta_tabla {
  font-size: 75%;
  font-weight: bold;
  margin: 0 0 5px 0;
  vertical-align: middle;
}

.valor {
  font-size: 75%;
  margin: 0 0 5px 0;
  vertical-align: top;
}

.valor_tabla {
  font-size: 75%;
  margin: 0 0 5px 0;
  vertical-align: middle;
}

br.largo {
  margin: 5px 0 0 0;
}

.rotulo {
  margin: 10px 0 5px 0;
  padding: 2px;
  background-color: rgb(67,	112,	150);
  color: white;
  text-align: center;
  font-weight: bold;
}

.grande {
  font-size: 150%;
}

.izquierda {
  float:left;
  margin-left: 10px;
}
.derecha {
  float:right;
  margin-right: 10px;
  margin-top: 5px;
}

.linea {
  margin: 10px 0 10px 0;
  border-top: solid 1px #ccc;
}

.grid_container, .contenido_bloque, .contenido_sub_bloque {
  display: grid;
  grid-gap: 5px 5px;
  margin: 0 0 5px 0;
}

.contenido_bloque {
  margin: 10px;
}

.contenido_sub_bloque {
  margin: 0 0 0px 0px ;
}

.grid_columna1 {
  grid-template-columns: auto;
}
.grid_columna2 {
  grid-template-columns: 49% 49%;
}
.grid_columna3 {
  grid-template-columns: 32.5% 32.5% 32.5%;
}
.grid_columna5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid_columna1_3 {
  grid-template-columns: 1fr 3fr;
}
.grid_columna9 {
  grid-template-columns: (1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr);
}

.grid_columna_observaciones {
  margin: 0 10px 0 10px;
  text-align: justify;
}

/* .grid_columna_analiticas {
  grid-template-columns: 25% auto;
} */

.contenido_bloque.grid_columna2 {
  grid-gap: 15px;
}

.contenido_sub_bloque.grid_columna2 {
  grid-template-columns: 39% 60%;
}

.contenido_sub_bloque.grid_columna9 {
  grid-template-columns: 1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr;
}

.verde {
  color: #8cd586;
}

.rojo {
  color: #fe93a3;
}

.amarillo {
  color: #ffeea0;
}

.gris {
  color: #cfcfcf;
}

.gris_azul {
  background-color: #C7D0DB;
  

}

td.verde {
  background-color: #21a45a45;
  color: #497746;
}

td.rojo {
  background-color: rgb(200,40,100,0.2);
  color: #9b4e5a;
}

td.amarillo {
  background-color: rgb(200,150,40, 0.2);
  color: #9d8100;
}

td.gris {
  background-color: rgb(40,40,40, 0.2);
  color: #333;
}

td.cursiva {
  font-style: italic;
}

.reportaje_fotográfico {
  width: 100%;
}

.contenedor_fotos {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  gap: 5px 10px;
}

#foto_industria {
  /* margin: 10px 0 10px 0; */
  width: 100%;
  max-height: 5.5cm;
}

.foto {
  width: 100%;
}

.mapa_pequeno {
  /* margin: 10px 0 10px 0; */
  width: 100%;
  height: 5.5cm;
}

.tabla_resultados > table {
  text-align: center;
}
.encabezado_tabla {
  text-align: left;
  font-weight: bold;
}

.encabezado_colum_tabla {
  text-align: center;
  font-weight: bold;
}

.tabla_muestras > table {
  text-align: center;
  table-layout: auto;
}

.tabla_evaluacion > table {
  font-size: 75%;
  border-collapse: collapse
}
.tabla_evaluacion > table > tbody > tr > td {
  border: solid 1px #888;

}
.tabla_evaluacion > table > tbody > tr > td.cabecera_vertical {
  writing-mode: sideways-lr;
  font-weight: bold;
  font-size: 100%;
  padding-right: 15px;
  margin-right: 1px;
  border-left: None;
  border-top: None;
  border-bottom: None;
}
td.centrado {
  text-align: center;
}

table.celda_ancha > tbody > tr > td {
  padding: 5px 10px;
}

.subrotulo {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  background-color: rgb(214, 220, 228);
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;  
}

.grid_fila2 {
    display: grid;
    /* grid-template-rows: ; /* Alturas específicas */
    gap: 10px;
  }
  
