{% import 'html/auditorias/macros.html' as macros %}
<div class="cabecera">
    <!-- <div class="encabezado" style=""> -->
        <div id="logos">
            <div class="izquierda">
                <img id="logoXunta" src="{{url_for('static', filename='/images/logo_augas.png')}}" alt="augas">
            </div>

            <div class="derecha">
                <img id="logoAT" src="{{url_for('static', filename='/images/logoCZ.svg')}}" alt="AT">
            </div>
        </div>
        <div class="nome_proxecto">
            <div>
                Servizo de Apoio Técnico para o control de verteduras de usuarios non domésticos e para a supervisión e auditoría de redes de saneamento e estacións depuradoras de augas residuais.<br>
                Clave: AUG-2023-0006
            </div>
        </div>
    <!-- </div> -->
</div>