{% extends "html/base.html" %}
{% block titulo %}<title>Auditorías EDAR</title>{% endblock %}
{% block scripts %}
<script src="static/js/auditorias/auditorias.js" crossorigin=""></script>
{% endblock %}
{% block scripts2 %}
<link rel="stylesheet" href="static/css/auditorias.css">
{% endblock %}
{% block nome_paxina %}{% endblock %}
{% block todo %}
<div id="todo" class="grid_container zurdo">
    <div class="panel">
        {% if resultados.tratamiento and session.ambito in ['admin', 'galicia'] %}
        <span class="material-icons derecha" onclick="modoEdicion()">edit</span>
        <span class="material-icons derecha noDecorado alineado" onclick="nuevoEquipo({{request.path.split('-')[1]}})">add_circle_outline</span>
        <span class="material-icons invisible editar derecha" onclick="borraTratamiento({{request.path.split('-')[1]}})">delete</span>
        {% endif %}
        Listado de equipos <b>{% if resultados.tratamiento %}en {{resultados.tratamiento}}{% endif %}</b>
        na EDAR de {{resultados.nombre_EDAR}}.
         <input id="textoBuscar" class="" type="text" placeholder="Buscar equipo" onkeyup="muestraBuscados()"><i class="material-icons noClicable">search</i>
         <br>
         Filtrar pendentes <span class="material-icons" onclick="filtraPendientes()">pending</span>
        <br><span>Auditada</span>
        {% for auditoria in auditorias %}
        <span id="" class="clicable {{'decorado' if session.id_auditoria == auditoria.id}} filtros_auditoria filtro_auditoria{{auditoria.id}}" onclick="cambiaFiltroAuditoria({{auditoria.id}})">{{auditoria.fecha | fecha_hora_bonita("%B-%Y") }}</span>
        {{', ' if not loop.last}}
        {% endfor %}
    </div>
<div id="listado_equipos">
    {% for equipo in equipos %}
        {% include 'html/auditorias/boton_equipo.html' %}
    {% endfor %}
</div>
</div>
{% endblock %}
{% block menuLat %}{% include 'html/auditorias/menu_lateral.html' %}{% endblock %}
{% block mapa %}

{% endblock %}